nav{
    position: fixed;
    /* height: 100vh; */
    /* z-index: 2; */
    /* 
    left: 0;
    right: 0;
    top: 0;
    */
    z-index: 3; 
   width: 100%;
   height: 100vh;
   
}
nav i {
    color: #f1f1f1; 
    
    position: absolute;
    z-index: 4; 
    top: 20px;
    right: 24px;
    /* 
    */
    /*
    top: -100px;
    right: 0;
    /* 
     */
}
.nav-list{
    font-family: 'Courier New', Courier, monospace;

}
.nav-list ul {
    background-color: #262938;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.nav-list ul li {
    border-top: 1px solid #ebd7d712;
    padding: 10px ;
}
.nav-list ul li:first-of-type {
    border-top: none !important;
}
.nav-list ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
}
.nav-list ul li a:hover {
   color: #468fc2;
}